{% extends 'base.html.twig' %}

{% block body %}
    <p>Förstasidan för card.</p><br>
    <ul>
        <li><a href="{{ path('card_deck') }}">Kortlek</a></li>
        <li><a href="{{ path('card_deck_jokers') }}">Skapa Kortlek med Jokrar</a></li>
        <li><a href="{{ path('card_deck_shuffle') }}">Blanda kortlek</a></li>
        <li><a href="{{ path('card_deck_draw') }}">Dra ett slumpmässigt kort ur leken</a></li>
    </ul>
    
    <form method="post" action="{{ path('card_deck_draw_number', {'number': 0}) }}" id="drawForm">
        <label for="numberInput">Dra</label>
        <input type="number" name="number" id="numberInput" min="1" value="1">
        <input type="submit" name="draw" value="kort till hand">
    </form><br><br>
<h3>Beskrivning av klasserna som används för detta kursmoment</h3><br>
<p>DeckOfCards: Innehåler  array av korten i kortleken. Den har en konstruktor för att skapa en ny kortlek. Metoderna till denna klass är: shuffleDeck() som blandar kortleken, drawRandomCard() för att slumpmässigt dra ett kort </p>
    <a href="{{ asset('../img/klasserUML.png') }}">
        <img src="{{ asset('../img/klasserUML.png') }}" alt="">
    </a>
{% endblock %}
